* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}

#content {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

form {
  width: 350px;
  border: 1px solid #ccc;
  padding: 25px;
}

h4 {
  text-align: center;
}

hr {
  color: #ccc;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

input,
select {
  margin: 4px 0;
  padding: 4px 8px;
  width: 100%;
  height: 32px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

select {
  padding: 4px;
}

input:focus,
select:focus {
  border-bottom: 1.5px solid #000;
}

input:valid,
select:valid {
  background-color: rgba(22, 163, 74, 0.2);
  border-bottom: 1.5px solid #16a34a;
}

select:not(:focus):invalid {
  background-color: transparent;
  border-bottom: 1.5px solid #ccc;
  color: #8e8e8e;
}

input:not(:placeholder-shown):invalid,
select:invalid {
  background-color: rgba(220, 38, 38, 0.2);
  border-bottom: 1.5px solid #dc2626;
}

input + span,
select + span {
  font-size: small;
  font-weight: 600;
  color: #dc2626;
}

#password:focus ~ ul,
#password:not(:placeholder-shown):invalid ~ ul {
  display: block;
}

ul {
  display: none;
  font-size: small;
  color: #8e8e8e;
  padding: 8px 24px 0;
}

li {
  padding: 2px 0;
}

.correct {
  color: #16a34a;
}

.incorrect {
  color: #dc2626;
}

#last-row {
  display: flex;
  align-items: center;
  gap: 24px;
}

button {
  width: 64px;
  height: 32px;
  border: none;
  background-color: #000;
  color: #fff;
}
